<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img    src="./assets/img/house_placeholder.jpg"
                        class="img-responsive"
                        style="max-width:100%; height: auto;"/>
                <div class="card-body" *ngIf="advert">
                    <h5 class="card-title"> {{ advert.header }} </h5>
                    <div class="row">
                        <div class="col-md-12">{{ advert.province + ", " + advert.city }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ advert.price | currency: 'R' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ advert.description }}</div>
                    </div>
                </div>
                <div *ngIf="loading" class="text-center mt-2 mb-2">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-secondary"
                            routerLink="/for-sale">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-contact-seller></app-contact-seller>
        </div>
    </div>
</div>
