<div class="card">
    <h4 class="card-header">{{ pageTitle }}</h4>
    <div class="card-body">
        <app-search (emitAdverts)="onAdvertsEmit($event)"></app-search>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <jw-pagination [items]="adverts" (changePage)="onChangePage($event)"></jw-pagination>
                </thead>
                <tbody *ngIf="adverts && adverts.length">
                    <tr *ngFor="let advert of pageOfAdverts">
                        <td>
                            <app-for-sale-list [advert]="advert" (click)="routeTo(advert.id)"></app-for-sale-list>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <div *ngIf="noResultsMessage">
                        <h5 class="text-center p-4">{{ noResultsMessage }}</h5>
                    </div>
                    <div *ngIf="loading" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center mt-2"></span>
                    </div>
                    <jw-pagination [items]="adverts" (changePage)="onChangePage($event)"></jw-pagination>
                </tfoot>
            </table>
        </div>
    </div>
</div>