<div class="container border advertDetailContainer p-3" *ngIf="advert" [ngClass]="{ 'border-secondary': advert.state==='Hidden', 'border-success': advert.state==='Live'}">
    <div class="row">
        <div class="col-md-2">Heading:</div>
        <div class="col-md-10">{{ advert.header }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Description:</div>
        <div class="col-md-10">{{ advert.description }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Province:</div>
        <div class="col-md-10">{{ advert.province }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">City</div>
        <div class="col-md-10">{{ advert.city }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Price:</div>
        <div class="col-md-10">{{ advert.price | currency: 'R' }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Date added:</div>
        <div class="col-md-10">{{ advert.date }}</div>
    </div>
</div>
