<div class="card">
    <h4 class="card-header">{{ pageTitle }}</h4>
    <div class="card-body">
        <div class="row pb-2">
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-3 col-form-label" for="filterId"><h5> Filter: </h5></label>
                    <input class="col-md-6" type="text" id="filterId" [formControl]="filterControl" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-md-4 col-form-label" for="orderById"><h5> Order by: </h5></label>
                    <div class="col-md-6">
                        <select class="form-control" 
                                id="orderById"
                                [formControl]="orderBy">
                            <option value="1"> Most recent </option>
                            <option value="2"> Lowest price </option>
                            <option value="3"> Highest price </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="col-md-12" routerLink="add" class="btn btn-primary">Add Advert</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <jw-pagination [items]="filteredAdverts" (changePage)="onChangePage($event)"></jw-pagination>
                </thead>
                <tbody *ngIf="adverts && adverts.length">
                    <tr *ngFor="let advert of pageOfAdverts">
                        <td style="width: 90%">
                            <app-my-adverts-list (click)="routeTo(advert.id)" [advert]="advert" ></app-my-adverts-list>
                        </td>
                        <td style="width: 10%">
                            <h4 *ngIf="advert.state==='Hidden'"><span style="display:inline-block; width:100px"
                                    class="badge badge-secondary badge-pill">{{ advert.state }}</span></h4>
                            <h4 *ngIf="advert.state==='Live'"><span style="display:inline-block; width:100px"
                                    class="badge badge-success badge-pill">{{ advert.state }}</span></h4>
                            <div class="dropdown">
                                <button class="btn btn-primary btn-block dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" routerLink="edit/{{advert.id}}">Edit Advert</a>
                                    <span *ngIf="advert.state==='Live'">
                                        <a class="dropdown-item" (click)="toggleShowHideAdvert(advert)">Hide Advert</a>
                                    </span>
                                    <span *ngIf="advert.state==='Hidden'">
                                        <a class="dropdown-item" (click)="toggleShowHideAdvert(advert)">Show Advert</a>
                                    </span>
                                    <span *ngIf="advert.featured">
                                        <a class="dropdown-item" (click)="toggleFeatured(advert)">Unfeature</a>
                                    </span>
                                    <span *ngIf="!advert.featured">
                                        <a class="dropdown-item" (click)="toggleFeatured(advert)">Feature</a>
                                    </span>
                                    <a class="dropdown-item" (click)="onDelete(advert)">Delete Advert</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <div *ngIf="noAdvertsMessage">
                        <h5 class="text-center p-4">{{ noAdvertsMessage }}</h5>
                    </div>
                    <div *ngIf="loading" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center mt-2"></span>
                    </div>
                    <jw-pagination [items]="filteredAdverts" (changePage)="onChangePage($event)"></jw-pagination>
                </tfoot>
            </table>
        </div>
    </div>
</div>